.form {
    width: 40%;
    display: flex;
    flex-direction: column;
    border:black solid 3px;
    background-color: lightgrey;
    padding: 20px;
    box-shadow: 5px 10px 15px black ;
    border-radius: 40px;
    margin-bottom: 20px;
    margin-top: 17px;
};




.form1_container #parent_cont {
display: flex;
width: 100%;
justify-content: center;
}

#parent_cont{
    display: flex;
    justify-content: center;
}




.signup_input {
    border-radius: 20px;
    padding: 10px;
}

#sign_in {
    color: #4682B4;
}



.submit_button{
    margin-top: 30px;
    background-color: #4682B4;
}


p{
    color: red;
}

#head{
    color: #4682B4;
}

#head:hover{
    color: red;
    text-decoration: none;
}

small {
    margin-top: 15px;
}

.page_container{
    background-color: #4682B4;
}

.h1{
    background-color: white;

}


#h2 {
        font-size: 30px;
        padding: 5px;
       color: #4682B4;
}

