.App {
  text-align: center;
}

html,body{
 
  height: 100%;
  font-family: 'Numans', sans-serif;
  }
  
  .container{
  height: 100%;
  align-content: center;
  }
  
  .card{
  height: 400px;
  margin-top: auto;
  margin-bottom: auto;
  width: 700px;
  background-color:#4682B4;
  color: wheat;
  background-repeat:no-repeat;
  background-size:cover; 
  margin:20px;
  }

  .card p {
    margin-top:35px;
  }
  
  .social_icon span{
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
  }
  
  .social_icon span:hover{
  color: white;
  cursor: pointer;
  }
  
  .card-header h3{
  color: white;
  font-size: 30px;
  }

  h1{
    color: wheat;
    font-size:45px;
    text-shadow:2px 2px 6px goldenrod;
    margin-top: auto;
  }

  
  h2{
    font-size: 30px;
    padding: 10px;
  }
  
  
 .nav{
  background-color: #4682B4;
  padding:2%;
  margin:2% 0;
 
  display:flex;
  justify-content: space-around;
}

.nav-link{
  display:flex;
  justify-content: space-around;
  width: 600px;
  height:60px ;
}

.nav a{
  color:wheat;
  font-weight: bolder;
  text-decoration: none;
}
.nav a :hover{
  color: red;
  cursor: pointer;
}

button.login {
  color: #4682B4;
  padding:10px;
  background-color:wheat;
  height: 45px;
  width: 150px;
  border-radius: 4px;
}

button.logout {
  color: #4682B4;
  padding:10px;
  background-color:wheat;
  height: 45px;
  width: 150px;
  border-radius: 4px;
}

.log-form{
  widows: 150px;
  height: 60px;
  padding:2%;
  margin:2% auto;
  display:flex;
  justify-content: space-around;
}

form ::placeholder{
  color: #4682B4;
  padding:5px;
  background-color:white;
  height: 30px;
  width: 150px;
}

input.button{
  padding:5px 10px;
  border-radius:4px;
  background-color:white;
  color:black;
  min-width: fit-content;
  font-weight: bolder;
}

*{
  box-sizing: border-box;
  
  }

.input{
  width:200px;
  height:35px;
  margin: 10px;
  
}
 
.log{
  height:40px;
  margin:10px;
 
}
a{
  color:#4682B4;
}